<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTRealReachability.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MTRealReachabilityDEMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B5967971DC1CB9D0076AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5967B01DC1CB9D0076AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5967BB1DC1CB9D0076AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5967DC1DC1CC090076AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5967E41DC1CC090076AD2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
